<main class="form-signup">
    <div class="container-md pt-5" >
        <div class="d-flex justify-content-center">
            <div class="card" style="width: 100%;">
                <div class="card-header">
                    Iscriviti
                </div>
            
                <div class="card-body">
                    <div class="form-floating mb-3">
                        <form>
                            <div class="row">
                                <div class="col-md-3">
                                    <label for="inpiutUsername">Username</label>
                                    <input type="username" class="form-control" id="inpiutUsername" placeholder="username">
                                </div>
                                <div class="col-md-4">
                                    <label for="inputEmail4">Email</label>
                                    <input type="email" class="form-control" id="inputEmail4" placeholder="name@example.com">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
